*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}
li{
    list-style: none;

}

.game-item{
    margin: 15px;
    background-color:darkslategrey;
    color: white;
    padding: 20px;
    border-radius: 20px;
    width: 450px;
    height: 150px;
}
body{
    background-color:dimgray;
    margin: 0;
    padding: 0;
  
  }
 
  #p1{
    font-size: 20px;
  }
  @font-face {
    font-family: myfont;
    src: url(Summer-Vibes-OTF.otf);
  } 


  @font-face {
    font-family: left-font;
    src: url(Bungee-Regular.ttf);
  } 
  #navigation{
    font-family:myfont ;
  }

  
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #383E48;
  }


  
  nav {
    display: flex;
    gap: 20px;
  }
  
  .title1{
    font-family: myfont;
    color: white;
  }
  a{
    color: white;
    text-decoration: none;
  }

  .inps{
    height: 30px;
    width: 200px;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
  }
  
  #add-form{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #add{
    height: 40px;
    width: 70px;
    border-radius: 20px;
  }

  .ps{
    margin: 5px;
  }


  .edit-item{
    border-radius: 20px;
    width: 40px;
    border: solid white 1px;
  }
  .delete-item{
    border-radius: 20px;
    width: 40px;
    border: solid white 1px;
  }

  .title2{
    font-family: myfont;
    color: white;
    font-size: 40px;
    margin: 10px;
  }
  .title-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

#game-list{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
}